/*重置浏览器默认样式*/
body{
	margin: 0 auto;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
}
/*预定义样式*/
.auto-img{
	width: 100%;
	height: auto;
	display: block;
}

.fl{
	float: left;
}

.fr{
	float: right;
}

input {
	outline: none;
	border: none;
	padding: 0;
}
.clearfix{
	overflow: hidden;
}